<!-- Replace ::text:: with your code -->
<h2>Create / Edit Course</h2>
<div *ngIf="isSingleLoading$ | async">Loading course details...</div>
<form [formGroup]="courseForm">
  <div class="app-plate">
    <div class="course">
      <h3>Main Info</h3>
      <div class="form__control">
        <label for="title">Title</label>
        <!--Use the name `title` for the form control.-->
        <input
          type="text"
          id="title"
          formControlName="title"
          required
          minlength="2"
          placeholder="Input text"
        />
        <span
          *ngIf="title.invalid && (submitted || title.touched)"
          id="titleErrorMessage"
          class="text-danger"
        >
          <span *ngIf="title.errors?.['required']" class="text-danger"
            >Title is required.</span
          >
          <span *ngIf="title.errors?.['minlength']" class="text-danger"
            >Title must be at least 2 characters.</span
          >
        </span>
      </div>
      <div class="form__control">
        <label for="description">Description</label>
        <!--Use the name `description` for the form control.-->
        <textarea
          id="description"
          name="description"
          formControlName="description"
          required
          placeholder="Input text"
          rows="4"
          cols="5"
        ></textarea>
        <span
          *ngIf="description.invalid && (submitted || description.touched)"
          id="descriptionErrorMessage"
          class="text-danger"
        >
          <span *ngIf="description.errors?.['required']" class="text-danger"
            >Description is required.</span
          >
          <span *ngIf="description.errors?.['minlength']" class="text-danger"
            >Description must be at least 2 characters.</span
          >
        </span>
      </div>
      <div class="separator"></div>
      <h3>Authors</h3>
      <div class="form__control">
        <div class="course__flex">
          <!--Use the name `author` for the form control.-->
          <input
            type="text"
            id="author"
            formControlName="author"
            placeholder="Input Author Name"
          />
          <app-button
            id="createAuthor"
            [buttonText]="'Create author'"
            (click)="createAuthor()"
          ></app-button>
        </div>
        <span
          *ngIf="author.invalid && (submitted || author.touched)"
          id="authorErrorMessage"
        >
          <span *ngIf="author.errors?.['invalidChars']"
            >New author should contain only latin letters and numbers</span
          >
          <span *ngIf="author.errors?.['minlength']"
            >Author must be at least 2 characters long</span
          >
        </span>
        <div class="course__authors">
          <!--Use the name `authors` for the form array.-->
          <div *ngFor="let author of authors.controls; let i = index">
            {{ author.value }}
            <button type="button" (click)="addAuthor(i)">
              <fa-icon [icon]="addAuthorIcon"></fa-icon>
            </button>
            <button type="button">
              <fa-icon [icon]="trashIcon" (click)="deleteAuthor(i)"></fa-icon>
            </button>
          </div>
        </div>
        <div>
          <h3>Course Authors</h3>
          <div
            *ngFor="let courseAuthor of courseAuthors.controls; let i = index"
          >
            {{ courseAuthor.value }}
            <button type="button" (click)="removeAuthor(i)">
              <fa-icon [icon]="trashIcon"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="separator"></div>
      <h3>Duration</h3>
      <div class="form__control">
        <div class="course__flex">
          <!--Use the name `duration` for the form array.-->
          <input
            type="number"
            id="duration"
            formControlName="duration"
            required
            placeholder="Input duration"
          />
          <div class="course__duration">
            {{ duration.value | duration }} hours
          </div>
        </div>
        <span
          *ngIf="duration.invalid && (submitted || duration.touched)"
          id="durationErrorMessage"
          class="text-danger"
        >
          <span *ngIf="duration.errors?.['required']" class="text-danger"
            >Duration is required.</span
          >
          <span *ngIf="duration.errors?.['min']" class="text-danger"
            >Duration must be at least 0.</span
          >
        </span>
      </div>
      <div class="form__action">
        <app-button
          [buttonText]="'Cancel'"
          (click)="navigateBack()"
        ></app-button>
        <app-button
          [buttonText]="'Create Course'"
          (click)="onSubmit()"
        ></app-button>
      </div>
    </div>
  </div>
</form>
